
# GENERAL

SECRET=Z61rZBm+Q5LbDQKkaKhZ3qWys=Z61rZBm+Q
NODE_ENV=PRODUCTION

# MAIN DATABASE

MAIN_DATABASE_HOST=database-host
MAIN_DATABASE_PORT=5432
MAIN_DATABASE_USER=admin
MAIN_DATABASE_PASS=some-random-bytes
MAIN_DATABASE_NAME=database-name

# MINIO

MINIO_ENDPOINT=short-links-manager-minio-prod
MINIO_PORT=9000
MINIO_ROOT_USER=minio_client
MINIO_ROOT_PASSWORD=1Qlf^iX9zWm91t^bhoYr&9UQECK!N%HhyjvbBEfg93XgB8d0GKftOGQB^daelv5-

# REDIS

REDIS_HOST=redis-host
REDIS_PORT=6379
REDIS_PASSWORD=some-random-bytes