
# GENERAL

SECRET=Z61rZBm+Q5LbDQKkaKhZ3qWys=Z61rZBm+Q
NODE_ENV=PRODUCTION

# MAIN DATABASE

MAIN_DATABASE_HOST=database-host
MAIN_DATABASE_PORT=5432
MAIN_DATABASE_USER=admin
MAIN_DATABASE_PASS=some-random-bytes
MAIN_DATABASE_NAME=database-name