@import './../../../../styleset.scss';

:host {
    padding: 16px;
}

.password-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h3 {
    margin: unset;
}

.confirm-button {

    border: none;
    border-radius: 8px;
    font-size: medium;
    padding: 14px 24px;
    margin-top: 5px;
    color: #ccc;
    transition: all 0.3s ease-in-out;

    &:enabled {
        cursor: pointer;
        color: $text-default;
        background-color: $accent;

        &:hover {
            transform: scale(0.97);
            background-color: $accent-hover;
        }

        &:active {
            transform: scale(0.92);
            background-color: white;
        }
    }

}