<form [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChange()">
    <h3>Change password</h3>

    <div class="form-group">
        <label for="password">Current password</label>
        <div class="password-wrapper">
            <input name="password" id="password" formControlName="password" [type]="!showpassword ? 'password' : 'text'"
                class="input field" placeholder="verify yourself" />
            <input type="button" [value]="!showpassword ? 'show' : 'hide'" class="input button"
                (click)="onToggleVisibility('password')" />
        </div>
    </div>

    <div class="error-code" *ngIf="this.unauthorizedResponse">
        Incorrect password
    </div>

    <div class="form-group">
        <label for="newPassword">New password</label>
        <div class="password-wrapper">
            <input name="newPassword" id="newPassword" formControlName="newPassword"
                [type]="!showNewPassword ? 'password' : 'text'" class="input field" placeholder="set new password" />
            <input type="button" [value]="!showNewPassword ? 'show' : 'hide'" class="input button"
                (click)="onToggleVisibility('newPassword')" />
        </div>

    </div>

    <div class="form-group last">
        <label for="confirmPassword">Confirm new password</label>
        <div class="password-wrapper">
            <input name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"
                [type]="!showConfirmNewPassword ? 'password' : 'text'" class="input field"
                placeholder="confirm new password" />
            <input type="button" [value]="!showConfirmNewPassword ? 'show' : 'hide'" class="input button"
                (click)="onToggleVisibility('confirmPassword')" />
        </div>
    </div>

    <div *ngIf="changePasswordForm.get('confirmPassword').touched 
    && !changePasswordForm.get('confirmPassword').valid 
    && changePasswordForm.get('confirmPassword').errors['passwordMustMatch']">
        <span class="error-code">Passwords must match</span>
    </div>

    <div class="confirmation-field">
        <input type="submit" value="save password" class="confirm-button" [disabled]="!changePasswordForm.valid" />
    </div>

</form>