$breakdown-width-md: 1440px;
$breakdown-width-sm: 968px;
$breakdown-width-xs: 480px;

$main-text-color: hsl(0, 0%, 92%);
$main-text-color-glow: rgba(235, 235, 235, 0.25);
$main-text-color-hover: hsl(0, 0%, 73%);
$main-text-size: 16pt;
$error-text-color: hsl(0, 100%, 70%);
$error-text-color-glow: rgba(255, 102, 102, 0.25);
$main-accent-color: hsl(215, 67%, 49%);
$main-accent-color-hover: hsl(215, 50%, 65%);
$main-accent-color-glow: rgba(41, 111, 209, 0.25);
$secondary-accent-color: hsl(281, 74%, 54%);
$secondary-accent-color-glow: rgba(170, 51, 225, 0.25);

// HEADER //

$header-height-lg: 72pt;
$header-height-md: 64pt;
$header-height-sm: 56pt;
$header-height-xs: 48pt;

$header-border-width: 3pt;
$header-gradient-high: hsl(215, 8%, 8%);
$header-gradient-low: hsl(215, 40%, 12%);

// FOOTER //

$footer-height-lg: 200pt;
$footer-height-md: 225pt;
$footer-height-sm: 250pt;
$footer-height-xs: 300pt;

$footer-border-width: 2pt;
$footer-box-shadow: 32pt;
$footer-gradient-high: hsl(281, 8%, 8%);
$footer-gradient-low: hsl(281, 40%, 10%);

// CONTEXT MENU //

$background-default-color: hsl(215, 2%, 8%);
$background-dark-color: hsl(215, 2%, 3%);

$scrollbar-background-color: rgba(46, 50, 56, 1);
$scrollbar-background-color-hoover: rgba(57, 63, 70, 1);
$scrollbar-thumb-color: rgba(46, 50, 56, 1);

// ANIMATIONS //

$default-duration: 0.3s;
$quick-duration: 0.1s;
$slow-duration: 0.55s;