<header class="header-wrapper">

    <div class="logo-wrapper" routerLink="/">
        <img src="logo.svg" alt="logo" class="logo-symbol" draggable="false" />
        <span class="app-name">
            {{appName}}
        </span>
    </div>

    <ul class="user-menu">
        @if(isSignedIn){
        <li><img class="avatar-thumbnail" routerLink="/profile" src="/v1/user/3/avatar" /></li>
        <li (click)="signOut()" class="sign-out">sign out</li>
        } @else {
        <li routerLinkActive="" routerLink="/sign-in">sign in</li>
        }
    </ul>

</header>